.footer {
    height: 525px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--spacing-lg);
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: var(--spacing-lg);
    }
}